.navbar {
  padding: 0px;
  margin: 20px auto;
  list-style-type: none;
  height: 48px;
  text-align: center;
}
.navbar__menu-item {
  border-right: 1px solid white;
  display: inline-block;
}
.navbar__menu-item:last-child {
  border-right: none;
}
.navbar__menu-item a {
  text-decoration: none;
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0px 14px;
  line-height: 48px;
  display: block;
  transition: all ease-in 350ms;
}
.navbar__menu-item a:hover {
  background: #465b8b; 
  color: rgb(219, 28, 28);
  box-shadow: 0px 0px 7px rgba(71, 95, 153, 0.7);
}
.parent {
  position: relative;
}
.nested .parent.child {
  top: 48px;
  position: absolute;
  margin:0px;
  width: 93px;
  border-top: 1px solid #fff;
  display: none;
}
.parent.child .navbar__menu-item {
  display: block;
  border-right: none;
}
.nested > a:after {
  content: '';
  display: inline-block;
  border-top: 7px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 7px;
}
.nested:hover  .parent.child{
  display: block;
}
.nested:hover > a:after {
  transform: rotate(180deg);
}